.gallery {
    background: #ddd;
    margin-top: 2em;
    padding: 2em 8em;
}

img {height: 15em;}

.modalInner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: #0072b9;
    text-align: center;
}

.modal {
    position: fixed;
    background: #000a;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.1s;
    /* pointer-events: none; */
}

.modal.open {
  transform: scale(1);
  /* pointer-events: all; */
}

.buttons {
  height: 3rem;
  text-align: center;
}

.buttons button {
  font-size: 2em;
}